<div class="container">
    <div class="row">
        <div class="col">
            <h2>How many walls?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>The first step is Choosing the amount of walls in the room</p>
        </div>
    </div>
    <div class="row ">
        <div class="col d-flex">
            <ul class="dropdown">
                <li (mouseenter)="showDropdown($event)" (mouseleave)="hideDropdown($event)" class="dropmain">
                    <a class="droptitle" id="menuElem">Walls </a>
                    <img border="0"  src="/assets/Images/chevron.png" class="chevron">
                    <ul class="list" [class.visible]="isDropdownVisible" style="display: none;" [style.display]="isDropdownVisible ? 'block' : 'none'">
                        <li *ngFor="let number of numbersArray" [value]="number"> <a (click)="setNumberOfWalls(number)">{{ number }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="numberOfWalls && numberOfWalls > 0 && currentWallIndex <= numberOfWalls">
    <div class="row">
        <div class="col">
            <h2>Wall {{currentWallIndex}} of {{numberOfWalls}}</h2>
        </div>
    </div>
    <div class="row width">
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >Width(ft)</span>
            </div>
            <input type="text" class="form-control" id="width" [(ngModel)]="width" (input)="checkInputs()">
        </div>
    </div>
    <div class="row height">
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >Height(ft)</span>
            </div>
            <input type="text" class="form-control" id="height" [(ngModel)]="height" (input)="checkInputs()">
        </div>
    </div>
    <div class="row next">
        <div class="col">
            <button class="btn btn-primary" type="submit" (click)="nextWall()">Next</button>
        </div>
    </div>
</div>
<div class="container" *ngIf="currentWallIndex > numberOfWalls">
  <div class="row justify-content-start">
    <div class="row resultBase">
      <div class="col-lg-auto p-0" style="background-color: #ffffff" >
        <h2 class="resultHead">Total Area</h2>
      </div>
        <div class="col-lg-2 mb-0 resultInput d-flex align-items-center text-center justify-content-center pl-0">
          <div class="input-group-append input-group">
          <h2 class="mb-0 resultInput">{{area}} Sqft</h2>
          </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="row resultBase">
      <div class="col-lg-auto p-0" style="background-color: #ffffff" >
        <h2 class="resultHead">Gals</h2>
      </div>
      <div class="col-lg-2 mb-0 resultInput d-flex align-items-center text-center justify-content-center pl-0">
        <div class="input-group-append input-group">
          <h2 class="mb-0 resultInput">{{gals}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead bg-primary">
        <tr>
          <th scope="col" class="">Wall</th>
          <th scope="col" class="text-center">Height</th>
          <th scope="col" class="text-center">Width</th>
          <th scope="col" class="text-center">Area</th>
          <th scope="col" class="text-center">Gals</th>
          <th scope="col" class="text-center">Quarts</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let number of wallsArray; let i = index">
          <th scope="row" >{{number}}</th>
          <td class="text-center">{{heightArray[i]}}</td>
          <td class="text-center">{{widthArray[i]}}</td>
          <td class="text-center">{{areaArray[i]}}</td>
          <td class="text-center">{{areaArray[i] / 400}}</td>
          <td class="text-center">{{(areaArray[i] / 400) * 4}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <!--  <input *ngIf="lastRoom !== undefined" type="text" class="form-control" placeholder="Enter room name" [(ngModel)]="roomName" />-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button *ngIf="lastRoom == false" type="submit" class="btn btn-primary" (click)="nextButtonClicked.emit()" >Next</button>
      <button *ngIf="lastRoom == true" type="submit" class="btn btn-primary" (click)="nextButtonClicked.emit()" >Finish!</button>
    </div>
  </div>

</div>
