<div class="row cta-basic cta-vertical-large">
    <div class="row">
        <div class="title col">
            <h1>How much Paint do I need?</h1>
        </div>
    </div>
    <div class="row">
        <div class="inst col">
            <h2>Using this tool you can calculate the square footage of the walls in a Room! Using one colour for multiple rooms or buying paint in advance before picking a colour? That's an option too.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="hr"></div>
        </div>
    </div>
    <div class="row prompt">
        <div class="col ">
            <h2>How many rooms would you like to calculate?</h2>
            <p>Only pick multiple rooms if you are using the same colour for all rooms you will calculate or if you are buying untinted paint.</p>
        </div>
    </div>    
    <div class="select row justify-content-between">
        <a class="btn btn-primary btn-lg col-4" href="oneroom">One</a>
        <a class="btn btn-primary btn-lg col-4" href="#">multiple</a>
    </div>
</div>