<div class="container">
    <div class="row">
        <div class="col">
            <h1>Multiple rooms</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>How many rooms?</h2>
        </div>
    </div>

<div class="row">
    <div class="col">
        <ul class="dropdown">
            <li (mouseenter)="showDropdown($event)" (mouseleave)="hideDropdown($event)" class="dropmain">
                <a class="droptitle" id="menuElem">rooms </a>
                <img border="0"  src="/assets/images/chevron.png" class="chevron">
                    <ul class="list" [class.visible]="isDropdownVisible" style="display: none;" [style.display]="isDropdownVisible ? 'block' : 'none'">
                        <li *ngFor="let number of numbersArray" [value]="number"> <a (click)="setNumberOfRooms(number)">{{ number }}</a></li>
                    </ul>
            </li>
        </ul>
    </div>
</div>
<div class="container" #roomsContainer></div>
  <div *ngIf="numberOfRooms && numberOfRooms > 0">
    <div *ngIf="currentRoomIndex < numberOfRooms">
      <div class="row justify-content-between">
        <div class="col">
          <h1>Room {{ currentRoomIndex + 1 }} out of {{numberOfRooms}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="currentRoomIndex === numberOfRooms " class="results row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="calculateTotalWallSpace()">Calculate Total Square Footage</button>
    </div>
    <div class="col">
      <p>total space: {{ totalWallSpace }}</p>
    </div>
  </div>
</div>



