.navtit {
  color: #012169;
  font-family: HelveticaNeueW01-55Roma,Helvetica,Arial,sans-serif;
  font-size: 0.8125em;
  border-bottom: solid 1px #cccccc;
  display: block;
  padding: 13px 0px;
  text-decoration: none;
}
.navlink{
  color: #012169;
  text-decoration: none;
}
a:hover{
  color: #00a3e3!important;
}

.theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggle:hover {
    opacity: 0.9;
}

