
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rectangle Component</title>
  <link rel="stylesheet" href="./rectangle.component.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <h2 class="col">All we need now are the dimensions!</h2>
    </div>
    <div class="row">
      <p class="col">Please fill out the following:</p>
    </div>
    <div class="row">
      <div class="col input-group mb-3">
        <div class="inpug-group-prepend">
          <span class="input-group-text" id="input-group-sizing-default">Width(ft)</span>
        </div>
        <input type="text" class="form-control" id="width" [(ngModel)]="width" (input)="checkInputs()">
      </div>
    </div>
    <div class="row">
      <div class="col input-group mb-3">
        <div class="inpug-group-prepend">
          <span class="input-group-text" id="input-group-sizing-default">Length(ft)</span>
        </div>
        <input type="text" class="form-control" id="length" [(ngModel)]="length" (input)="checkInputs()">
      </div>
    </div>
    <div class="row">
      <div class="col input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="input-group-sizing-default">Height(ft)</span>
        </div>
        <input type="text" class="form-control" id="height" [(ngModel)]="height" (input)="checkInputs()">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <button type="button" class="btn btn-primary btn" style="width: 100%;" [disabled]="!allInputsFilled"
          (click)="calculate(); showResults = true; getLengthInPixels(); getWidthInPixels()">Submit</button>
      </div>
      <div class="col-4">
        <button *ngIf="showNextButton" type="button" class="btn btn-primary" (click)="nextButtonClicked.emit()" >Next</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="hr"></div>
      </div>
    </div>
    <div class="results" *ngIf="showResults">
      <div class="row p-0">
        <div class="col p-0">
          <div class="row">
            <div class="input-group mb-3 col-3" id="area">
              <input type="number" class="form-control text-right" style="border-color: transparent; text-align: right; padding-right: 0; "
                [value]="area" readonly>
              <div class="input-group-append">
                <span class="input-group-text" id="input-group-sizing-default">Sqft</span>
              </div>
            </div>
          </div>
          <div class="row">
            <p class="col" style="margin-bottom: 1em">Per coat you will need:</p>
          </div>
          <div class="row">
            <div class="input-group mb-3 col-3">
              <input type="number" class="form-control text-right" style="border-color: transparent; text-align: right; padding-right: 0; "
                [value]="gals" readonly>
              <div class="input-group-append">
                <span class="input-group-text" id="input-group-sizing-default">Gallon(s)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <div class="rectangle" [style.width.px]="genWidth" [style.height.px]="genLength"></div>
        </div>
      </div>
    </div>
  </div>
<div>
 <!-- <div class="container model">
    <div class="cube">
      <div class="front xface"></div>
      <div class="back xface"></div>
      <div class="left yface"></div>
      <div class="right yface"></div>
      <div class="top zface"></div>
      <div class="bottom zface"></div>
    </div>
  </div>
</div>
</body>-->







