<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rectangle Component</title>
  <link rel="stylesheet" href="./rectangle.component.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <h2 class="col">All we need now are the dimensions!</h2>
    </div>
    <div class="row">
      <p class="col">Please fill out the following:</p>
    </div>
    <div class="row">
      <div class="col input-group mb-3">
        <div class="inpug-group-prepend">
          <span class="input-group-text" id="input-group-sizing-default">Width(ft)</span>
        </div>
        <input type="text" class="form-control" id="width" [(ngModel)]="width" (input)="checkInputs()">
      </div>
    </div>
    <div class="row">
      <div class="col input-group mb-3">
        <div class="inpug-group-prepend">
          <span class="input-group-text" id="input-group-sizing-default">Length(ft)</span>
        </div>
        <input type="text" class="form-control" id="length" [(ngModel)]="length" (input)="checkInputs()">
      </div>
    </div>
    <div class="row">
      <div class="col input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="input-group-sizing-default">Height(ft)</span>
        </div>
        <input type="text" class="form-control" id="height" (keydown.enter)="calculate(); showResults = true; getLengthInPixels(); getWidthInPixels();" [(ngModel)]="height" (input)="checkInputs()">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <button type="button" class="btn btn-primary btn" style="width: 100%;" [disabled]="!allInputsFilled"
          (click)="calculate(); showResults = true; getLengthInPixels(); getWidthInPixels()">Submit</button>
      </div>
      <div class="col-4">
        <button *ngIf="lastRoom == false" type="button" class="btn btn-primary" (click)="nextButtonClicked.emit();" >Next</button>
        <button *ngIf="lastRoom == true" type="button" class="btn btn-primary" (click)="nextButtonClicked.emit()" >Finish!</button>
      </div>
      <div class="col-4">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text rounded-left" id="input-group-sizing-default">Coverage</span>
          </div>
          <input type="text" class="form-control rounded-right" style="text-align: right; padding-right: 0;" [(ngModel)]="coverage" min="1">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="hr"></div>
      </div>
    </div>
    <div class="results" *ngIf="area! > 0">
      <div class="row p-0">
        <div class="col p-0">
          <div class="row">
            <h3>Wall Space:</h3>
          </div>
          <div class="row">
            <div class="input-group mb-3 col-3" id="area">
              <input type="text" class="form-control text-right" style="border-color: transparent; text-align: right; padding-right: 0; "
                [value]="area | number:'1.0-2'" readonly>
              <div class="input-group-append">
                <span class="input-group-text" id="input-group-sizing-default">Sqft</span>
              </div>
            </div>
          </div>
          <div class="row">
            <p class="col" style="margin-bottom: 1em">Per coat you will need:</p>
          </div>
          <div class="row">
            <div class="input-group mb-3 col-3">
              <input type="number" class="form-control text-right" style="border-color: transparent; text-align: right; padding-right: 0; "
                [value]="gals | number:'1.0-2'" readonly>
              <div class="input-group-append">
                <span class="input-group-text" id="input-group-sizing-default">Gallon(s)</span>
              </div>
            </div>
          </div>
          <div class="row">
            <p class="col" style="margin-bottom: 1em">Or:</p>
          </div>
          <div class="row">
            <div class="input-group mb-3 col-3">
              <input type="number" class="form-control text-right" style="border-color: transparent; text-align: right; padding-right: 0; "
                     [value]="quarts | number:'1.0-2'" readonly>
              <div class="input-group-append">
                <span class="input-group-text" id="input-group-sizing-default">Quart(s)</span>
              </div>
            </div>
          </div>
        </div>
          <div class="col p-0">
            <div class="row">
              <div class="col">
                <h3>Ceiling Area:</h3>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <div class="input-group mb-3 col-3">
                  <input type="number" class="form-control text-right" style="border-color: transparent; text-align: right; padding-right: 0; "
                         [value]="ceilingArea | number:'1.0-2'" readonly>
                  <div class="input-group-append">
                    <span class="input-group-text" id="input-group-sizing-default">Sqft</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <p class="col" style="margin-bottom: 1em">Per coat you will need:</p>
              </div>
              <div class="row">
                <div class="input-group mb-3 col-3">
                  <input type="number" class="form-control text-right" style="border-color: transparent; text-align: right; padding-right: 0; "
                         [value]="ceilingGals | number:'1.0-2'" readonly>
                  <div class="input-group-append">
                    <span class="input-group-text" id="input-group-sizing-default">Gallon(s)</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <p class="col" style="margin-bottom: 1em">Or:</p>
              </div>
              <div class="row">
                <div class="input-group mb-3 col-3">
                  <input type="number" class="form-control text-right" style="border-color: transparent; text-align: right; padding-right: 0; "
                         [value]="ceilingQuarts | number:'1.0-2'" readonly>
                  <div class="input-group-append">
                    <span class="input-group-text" id="input-group-sizing-default">Quart(s)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>








