<div class="container">
    <div class="title row">
        <h1 class="col">One Room</h1>
    </div>
    <div class="desc row">
        <h2 class="col">Start by selecting the room shape</h2>
    </div>
    <div class="row justify-content-between" style="margin-bottom: 0.9em;">
        <div class="col-5">
          <div class="shape btn-group btn-group-toggle d-flex flex-column" data-toggle="buttons">
            <label class="btn btn-primary btn-lg" [class.active]="selectedOption === 'rectangle'">
              <input type="radio" name="shape" id="rectangle" [checked]="selectedOption === 'rectangle'" (click)="updateSelectedOption('rectangle')">
              Rectangular
            </label>
          </div>
        </div>
        <div class="col-5">
          <div class="shape btn-group btn-group-toggle d-flex flex-column" data-toggle="buttons">
            <label class="btn btn-primary btn-lg" [class.active]="selectedOption === 'other'">
              <input type="radio" name="shape" id="Other" [checked]="selectedOption === 'other'" (click)="updateSelectedOption('other')">
              Other
            </label>
          </div>
        </div>
      </div>
    <div class="row">
        <div class="col">
            <div class="hr"></div>
        </div>
    </div>
    <div class="container">
        <ng-container *ngIf="selectedOption === 'rectangle'">
            <app-rectangle></app-rectangle>
        </ng-container>
        
        <ng-container *ngIf="selectedOption === 'other'">
            <app-other></app-other>
        </ng-container>
    </div>
</div>
