<div class="container">
    <div class="row">
        <div class="col">
            <h1>Multiple rooms</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>How many rooms?</h2>
        </div>
    </div>

<div class="row">
    <div class="col">
        <ul class="dropdown">
            <li (mouseenter)="showDropdown($event)" (mouseleave)="hideDropdown($event)" class="dropmain">
                <a class="droptitle" id="menuElem">rooms </a>
                <img border="0"  src="/assets/Images/chevron.png" class="chevron">
                    <ul class="list" [class.visible]="isDropdownVisible" style="display: none;" [style.display]="isDropdownVisible ? 'block' : 'none'" >
                        <li *ngFor="let number of numbersArray" [value]="number"> <a (click)="setNumberOfRooms(number)">{{ number }}</a></li>
                    </ul>
            </li>
        </ul>
    </div>
</div>
  <div *ngIf="numberOfRooms && numberOfRooms > 0">
    <div *ngIf="currentRoomIndex < numberOfRooms">
      <div class="row justify-content-between">
        <div class="col">
          <h2>Room {{ currentRoomIndex + 1 }} out of {{numberOfRooms}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="" *ngIf="numberOfRooms && numberOfRooms > 0 && currentRoomIndex < numberOfRooms">
    <div class="row shape-nav">
      <div class="col">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#" role="tab" id="rectangleTab" (click)="showComponent='rectangle'">Rectangular</a>
      <!--  <app-rectangle [showNextButton]="true" (nextButtonClicked)="nextRoom()" (areaCalculated)="handleArea($event)"></app-rectangle> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#" role="tab" id="otherTab" (click)="showComponent='other'">Other</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row roomName mb-3 " *ngIf="showInput" >
      <div class="row">
      <div class="col-lg-auto p-0" style="background-color: #ffffff" >
        <h2 class="resultHead">Room Name</h2>
        </div>
      <div class="col-lg-2 mb-0 resultInput d-flex align-items-center text-center justify-content-center pl-0">
        <div class="input-group-append input-group">
          <input class="form-control resultInput mb-0" type="text" id="roomName" placeholder="Optional" [(ngModel)]="roomName" (ngModelChange)="changeRoomName($event)" style="border-color: transparent; background-color: transparent" >
        </div>
      </div>
      </div>
    </div>
    </div>
    <div class="tab-content">
      <app-rectangle *ngIf="showComponent==='rectangle'" (nextButtonClicked)="nextRoom()" (areaCalculated)="handleArea($event)" [lastRoom]="lastRoom"></app-rectangle>
      <app-other *ngIf="showComponent==='other'"  (roomDetails)="handleRoomDetails($event)" (nextButtonClicked)="nextRoom()" (areaCalculated)="handleArea($event)" [lastRoom]="lastRoom"></app-other>
    </div>
  </div>
  <div *ngIf="currentRoomIndex === numberOfRooms " class="results">
    <div class="row justify-content-start totals">
      <div class="row">
        <div class="col-lg-auto p-0" style="background-color: #ffffff" >
          <h2 class="resultHead">Total Area</h2>
        </div>
        <div class="col-lg-2 mb-0 resultInput d-flex align-items-center text-center justify-content-center pl-0">
          <div class="input-group-append input-group">
            <h2 class="mb-0 resultInput">{{totalArea}} Sqft</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-start totals">
      <div class="row">
        <div class="col-lg-auto p-0" style="background-color: #ffffff" >
          <h2 class="resultHead">Total Gals</h2>
        </div>
        <div class="col-lg-2 mb-0 resultInput d-flex align-items-center text-center justify-content-center pl-0">
          <div class="input-group-append input-group">
            <h2 class="mb-0 resultInput">{{totalArea / 400}} Gals</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="numberOfRectRooms">
      <div class="col">
        <h2>Rectangular rooms:</h2>
      </div>
    </div>
    <div class="row" *ngIf="numberOfRectRooms">
      <div class="col">
        <table class="table">
          <thead class="thead bg-primary">
            <tr>
              <th scope="col" class="">Room</th>
              <th scope="col" class="text-center">Height</th>
              <th scope="col" class="text-center">Width</th>
              <th scope="col" class="text-center">Length</th>
              <th scope="col" class="text-center">Area</th>
              <th scope="col" class="text-center">gals/coat</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let number of rectRoomsArray; let i = index">
              <th scope="row" >{{number + 1}}</th>
              <td class="text-center">{{heightArray[i]}}</td>
              <td class="text-center">{{widthArray[i]}}</td>
              <td class="text-center">{{lengthArray[i]}}</td>
              <td class="text-center">{{areaArray[i]}}</td>
              <td class="text-center">{{galArray[i]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="numberOfOtherRooms">
      <div class="row">
        <div class="col">
          <h2>Non-Rectangular Rooms:</h2>
        </div>
      </div>
      <div class="row shape-nav">
        <div class="col">
          <ul class="nav nav-tabs">
            <li class="nav-item" *ngFor="let room of roomsDetails; let i = index">
              <a class="nav-link" [class.active]="activeTab === i" (click)="activeTab = i">{{this.roomNames[i]}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="tab-content rooms" *ngFor="let rooms of roomsDetails; let i = index">
            <div *ngIf="activeTab === i">
              <table class="table">
                <thead class="thead bg-primary">
                <tr>
                  <th scope="col" class="">Wall</th>
                  <th scope="col" class="text-center">Height</th>
                  <th scope="col" class="text-center">Width</th>
                  <th scope="col" class="text-center">Area</th>
                  <th scope="col" class="text-center">Gals</th>
                  <th scope="col" class="text-center">Quarts</th>
                </tr>
                </thead>
                <tbody>
                <ng-container>
                  <tr *ngFor="let wall of rooms; let j = index">
                    <th scope="row">{{j + 1}}</th>
                    <td class="text-center">{{wall.height}}</td>
                    <td class="text-center">{{wall.width}}</td>
                    <td class="text-center">{{wall.area}}</td>
                    <td class="text-center">{{wall.area / 400}}</td>
                    <td class="text-center">{{(wall.area / 400) * 4}}</td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>











