* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    color: #012169;
    background-color: #f8f8f8;
}
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
}

a:hover{
  color: #00a3e3;
}

h1 {
    font-weight: normal;
    color: #012169;
    font-size: 2.625em;
    margin-bottom: 0.6em;
    margin-top: 0;
    line-height: 1.25em;
}

h2 {
    font-weight: normal;
    color: #012169;
    font-size: 1.5em;
    font-family: Helvetica,Arial,sans-serif;
    margin-bottom: 0.6em;
    margin-top: 0;
    font-weight: normal;
    line-height: 1.25em;
}

p {
    font-size: 0.9375;
    line-height: 1.33em;
    margin: 0;
    margin-bottom: 0.6em;
}

.btn-primary {
  background-color: #00a3e4;
  border-color: #00a3e4;
  display: block;
  position: relative;
  border-radius: 0px 0px 10px 0px;
}
.bg-primary {
  background-color: #00a3e4;
  border-color: #00a3e4;
  color: #ffffff;
}

.hr {
    margin-bottom: 20px;
    border-top: solid 1px #cccccc;
    width: 100%;
}

.input-group-text {
    color: #fff;
    background-color: #00a3e4;
    width: 5.5em;
    border-radius: 0px 0px 10px 0px;
}

.input-group-append.shadow {
    border-radius: 0px 0px 10px 0px;
}
.input-group{
  width: auto;
}
