<div class="container">
    <div class="row">
        <div class="col">
            <h2>How many walls?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>The first step is Choosing the amount of walls in the room</p>
        </div>
    </div>
    <div class="dropdown row">
        <div class="">
            <ul>
                <li (mouseenter)="showDropdown($event)" (mouseleave)="hideDropdown($event)" class="dropmain">
                    <a class="droptitle" id="menuElem">Walls </a>
                    <img border="0"  src="/assets/images/chevron.png" class="chevron">
                    <ul class="list" [class.visible]="isDropdownVisible" style="display: none;" [style.display]="isDropdownVisible ? 'block' : 'none'">
                        <li *ngFor="let number of numbersArray" [value]="number"> <a (click)="setNumberOfWalls(number)">{{ number }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div class="container">
    <div class="row">
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >Width(ft)</span>
            </div>
            <input type="text" class="form-control" id="width1" [(ngModel)]="width" (input)="checkInputs()">
        </div>
    </div>
    <div class="row">
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >Height(ft)</span>
            </div>
            <input type="text" class="form-control" id="height1" [(ngModel)]="height" (input)="checkInputs()">
        </div>
    </div>
</div>
